<div class="container" style="margin-top: 5vh;">
  <div class="form-signin cardBorder text-center">
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">
          <i class="fas fa-key"></i>
        </span>
      </div>
      <input type="password" id="inputRecoveryPassword" [(ngModel)]="recoveryPassword" class="form-control" placeholder="Recovery Password" required autofocus>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">
          <i class="fas fa-key"></i>
        </span>
      </div>
      <input type="password" id="inputPassword" [(ngModel)]="password" class="form-control" placeholder="New Password" required>
    </div>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">
          <i class="fas fa-key"></i>
        </span>
      </div>
      <input type="password" id="inputConfirmPassword" [(ngModel)]="confirmPassword" class="form-control" placeholder="Retype New Password" required>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-md btn-secondary" type="button" (click)= "updatePassword()">Update</button>
      </div>
    </div>
  </div>
</div>