<div class="container" style="margin-top: 5vh;">
  <div class="form-signin cardBorder text-center">
    <h1 class="h3 mb-3 font-weight-normal">Share Invite Link</h1>

    <div class="row">
      <div class="col-md-12" *ngIf="retrivedRoomDetails">

        <h5 class="mb-3 font-weight-normal">Your Going to Share the Invite Link of : {{retrivedRoomDetails.chatRoomTitle}}</h5>
        <h5 class="mb-3 font-weight-normal">Group is Created By : {{retrivedRoomDetails.userName}}</h5>
        <h5 class="mb-3 font-weight-normal">Group Invite Link : {{retrivedRoomDetails.chatRoomLink}}</h5>

      </div>

    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-at"></i>
        </span>
      </div>
      <input type="email" id="inputEmail" [(ngModel)]="email" class="form-control" placeholder="Email address to share the group Link" required autofocus>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-md btn-info" type="button" (click)="shareChatRoom()">Invite To Group</button>
      </div>

    </div>

  </div>
</div>